.list-container {
    display: flex;
    flex-direction: column;
    font-size: '14px'; 
    width: 450px;
}
.list-nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    button {
        flex: 1 1 auto; // flex-shrink to prevent overflow
        flex-shrink: 1;
    }
    .page-num-container {
        display: flex;
        overflow-x: hidden;
        // flex: 0 0 auto;
    }
}
.list-nav-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    .go-to-page-input {
        width: 80px;
        margin: 0px 10px;
        &::placeholder {
            text-align: right;
        }
    }
    .crypto-nav-search {
        margin-left: 12px;
    }
    p {
        margin: 0;
        align-self: center;
    }
}
.ant-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-entries {
    .list-entry {
        .crypto-link {
            width: 100%;
            padding: 5px 10px;
            margin-right: 60px;
            color: #141414;
            &:hover {
                color: #1446a0ff;
            }

        }
        border: 1px solid #d9d9d9;
        border-bottom:none;
        &:last-of-type {
            border-bottom: 1px solid #d9d9d9;
        }
        padding: 2px;
    }


}

.crypto-list-table {
    td.ant-table-cell {
        padding: 6px 16px;
        // &:last-of-type { // actions button
        //     width: 32px;
        // }
    }
}