@import '~antd/dist/antd.css';

/* Colors */
/* SCSS HEX */
$space-cadet: #273043ff;
$cobalt-blue: #1446a0ff;
$cool-grey: #9197aeff;
$mint-cream: #eff6eeff;
$imperial-red: #f02d3aff;
$amaranth-red: #dd0426ff;
/* SCSS RGB */
$space-cadet: rgba(39, 48, 67, 1);
$cobalt-blue: rgba(20, 70, 160, 1);
$cool-grey: rgba(145, 151, 174, 1);
$mint-cream: rgba(239, 246, 238, 1);
$imperial-red: rgba(240, 45, 58, 1);
$amaranth-red: rgba(221, 4, 38, 1);

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

/* Navbar*/
.nav-logo {
    color: white;
    // color: $cobalt-blue;
}

/* Layout */
.layout-main-content {
    // background-color: #000015;
    background-color: #FFF;
}
