// @import '~antd/dist/antd.css'; // used fixBabelImports instead

/* Colors */
/* SCSS HEX */
$space-cadet: #273043ff;
$cobalt-blue: #1446a0ff;
$very-pale-blue: rgb(246, 248, 250);
$cool-grey: #9197aeff;
$mint-cream: #eff6eeff;
$imperial-red: #f02d3aff;
$amaranth-red: #dd0426ff;

/* SCSS RGB */
$space-cadet: rgba(39, 48, 67, 1);
$cobalt-blue: rgba(20, 70, 160, 1);
$cool-grey: rgba(145, 151, 174, 1);
$mint-cream: rgba(239, 246, 238, 1);
$imperial-red: rgba(240, 45, 58, 1);
$amaranth-red: rgba(221, 4, 38, 1);

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

/* App-wide i.e. Global */
.page-heading {
    font-size: 42px;
    @media screen and (max-width: 768px){
        font-size: 8vw;
    }
}
.page-h2 {
    font-size: 36px;
    @media screen and (max-width: 768px){
        font-size: 6vw;
    }
}


/* Navbar*/
.nav-logo {
    color: $cobalt-blue;
    font-style: italic;
    font-weight: bold;
}
.sider-theme {
    background-color: $very-pale-blue;
    div, ul {
        background-color: $very-pale-blue;
    }
}
.navbar-header-menu {
    box-shadow: 0 0px 4px rgba($cobalt-blue, 0.1)
}
.mobile-collapse {
    @media screen and (max-width: 768px){
        display:none
    }
}

/* Layout */
.layout-main-content {
    // background-color: #000015;
    background-color: #FFF;
    padding-top: 66px; // height of navbar
    height: 100vh;
    overflow: scroll;
}
.footer {
    background-color: $very-pale-blue;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.login-padding {
    padding-top: 70px;
}
.landing-page-container {
    height: calc(100vh - 66px);
    justify-content: 'start';
    padding-top: '80px';
    overflow: scroll;
    background-image: url('../assets/mountain-bg2.jpg');
    background-size: cover;
}


/* Landing page */
.landing-button-container {

}
.landing-button {
    border: none;

    height: 20vh;
    width: 20vw;
    border: none;
    border-radius: 2px;
    background-color: rgba(250,250,250, 0.95);
    box-shadow: -3px 3px 0px rgba(20, 70, 160, 0.3);
    // background-color: rgba(80,150,200, 0.1);
    backdrop-filter: blur(2.5px);
    color: #1446a0ff;
    font-size: 24px;
    margin: 10px;
    &:hover {
        transform: translate(2px, -2px);
        box-shadow: -5px 5px 0px rgba(20, 70, 160, 0.4);
    }
    @media screen and (max-width: 1000px) {
        width: 100%;
        height: auto;
        padding: 15px;
    }
}